.ipynb_checkpoints/
ex2/MLP.pdf
ex2/bruno_coelho_exercicio2.zip
ex3/default_features_1059_tracks.txt
ex3/Exercise_3.pdf
ex3/bruno_coelho_exercicio3.zip
ex4/MNIST_data/
ex4/bruno_coelho_exercicio4.zip
ex5/bruno_coelho_exercicio5.zip

